:root {
  --product-height: 25rem;
  --product-border-radius: 8px;
}

.product-img-wrap {
  width: 100%;
  max-width: var(--product-height);
  position: relative;
  aspect-ratio: 1/1;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-type {
  position: absolute;
  top: 5%;
  left: -10%;
  background-color: var(--text-primary);
  color: var(--background-primary);
  border-radius: 1rem;
  padding: 0.6rem;
  font-weight: bold;
  font-size: calc(var(--font-size) - 0.6rem);
  z-index: calc(var(--z-index) +2);
}

.product-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(var(--font-size) - 0.3rem);
  font-weight: bold;
  padding: 1rem 0;
}
