.layout {
  width: 100%;
  max-width: 660px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.header {
  flex: 0 1 auto;
}

.footer {
  flex: 0 1 auto;
  margin-top: auto;
}

.main {
  flex: 1 0 auto;
  background-color: var(--background-primary);
}
.main > * {
  width: 100%;
}
