/* 상품 아이템 컨테이너 */
.order-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.order-item-container:hover {
  background-color: #f1f1f1;
}

.order-item-container.isSeleceted {
  background-color: #f1f1f1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.3s ease;
}

/* 상품 항목 래퍼 */
.order-item-wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.order-item-img {
  margin-right: 30px;
  border-radius: 4px;
  object-fit: cover;
}

.order-item-info {
  flex-grow: 1;
  font-size: 16px;
}

.order-item-info .type {
  font-size: 12px;
  margin-bottom: 10px;
}

.order-item-info .name {
  font-weight: bold;
}

.order-price {
  font-size: 14px;
  color: #888;
  padding: 0 1rem;
  transition: margin-top 0.3s ease;
}

/* 수량 버튼 컨테이너 (숨김 상태) */
.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden; /* 기본적으로 숨김 상태 */
  opacity: 0; /* 숨겨짐 상태에서 완전히 보이지 않게 */
  transition: visibility 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

.quantity-container.show {
  visibility: visible;
  opacity: 1;
}

.quantity-button {
  width: 50px;
  height: 30px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-button:hover {
  background-color: #ddd;
}

.quantity-button:first-child {
  transform: rotate(0deg);
}

.quantity-button:last-child {
  transform: rotate(180deg);
}

.quantity-container span {
  font-weight: bold;
}
