:root {
  --text: #ffffff;
  --footer-bacground: #01242d;
  --footer-shadow: 0px 10px 20px rgba(#18181b, 0.3),
    inset 0px 5px 15px rgba(#18181b;, 0.2);
  --z-index: 100;
}

#footer {
  position: sticky;
  bottom: 0;
  color: var(--text);
  background-color: var(--footer-bacground);
  box-shadow: var(--footer-shadow);
  padding: 1rem;
  z-index: var(--z-index);
}

.footer-wrap {
  width: 100%;
  max-width: calc(100vw - var(--padding));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: var(--padding) 0;
  gap: 1rem;
}
.sub-btn {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: bold;
  gap: 1rem;
}

.footer-sub {
  padding: 1rem 0;
}
.copyright {
  width: 100%;
  text-align: end;
  font-size: 1rem;
}

/* Tablet */
@media all and (min-width: 660px) {
  .sub-btn {
    flex-direction: row;
    gap: 0;
  }
  #footer {
    position: relative;
  }
}
