:root {
  --user-elem-gap: 2rem;
  --user-elem-font-size: 1.3rem;
}

.nav-login-btn {
  border: none;
  background-color: transparent;
  display: inline;
  font-size: calc(var(--user-elem-font-size) + 0.1rem);
  color: var(--link-primary);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: font-size 0.2s ease;
}

.cart-title {
  font-size: calc(var(--user-elem-font-size) + 0.2rem);
  font-weight: bold;
  padding-bottom: var(--user-elem-gap);
}
.cart-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-btn button {
  width: 100%;

  position: relative;

  color: var(--text-secondary);
  font-size: calc(var(--user-elem-font-size) + 0.2rem);
  text-align: start;

  border: none;
  background-color: transparent;

  padding-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.cart-btn button::after {
  width: 0;
  height: 2px;

  position: absolute;
  bottom: 0;
  left: 0;

  content: "";

  background-color: var(--color-brand-white);

  transition: width 1s ease;
}

.cart-btn button:hover::after {
  width: 100%;
}
