.order-from-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1rem;
}

.order-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.order-item-wrap {
  display: flex;
  align-items: center;
}

/* 이미지 */
.order-item-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.order-name {
  font-style: italic;
  margin-right: 1rem;
}

.order-price {
  font-size: 1rem;
  font-style: normal;
}

/* 수량 조정 버튼 컨테이너 */
.quantity-container {
  display: flex;
  gap: 0.4rem;
}
.quantity-container span {
  max-width: 2rem;
  font-size: 1rem;
}

/* 수량 버튼 */
.quantity-button {
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

/* 이메일 도메인 선택 드롭다운 */
.email-domain-select {
  margin-left: 5px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 이메일 아이디 입력란 */
.email-input {
  width: 150px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email-wrap {
  display: flex;
  gap: 0.5rem;
}
/* 이메일 아이디와 도메인 간의 간격 */
.email-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

/* 총 가격 */
.total-price {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

/* 제출 버튼 */
.submit-button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #01242d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 부드러운 색상 변화와 크기 변화 */
}

.submit-button:hover {
  background-color: #01445d; /* 호버 시 배경색 변화 */
  transform: scale(1.05); /* 약간 확대 */
}
