@charset "utf-8";
/* global CSS */
:root {
  --de-black: #000000;
  --de-white: #ffffff;
  --de-mocka-brown: #5c3923;
  --de-bran: #7a4b3a;
  --de-cocoons: #bfa98a;
  --de-crocus: #8e5d9b;
  --de-dejavu-blue: #a7c6ed;
  --de-green: #01242d;
  --de-light-blue: #4eebe5;
  --de-horizon-blue: #c5fffd;
  --de-kashmir: #d1a4c1;
  --de-lime-cream: #a5d25a;
  --de-limpet-shell: #a7c9c2;
  --de-misted-marigold: #f2b900;
  --de-orangeade: #f3a5a5;
  --de-white-grape: #d7d6b7;
  --de-orange: #e4924f;
  --de-grey: #18181b80;
  --de-yellow: #f7d8a0;

  --color-brand-white: #ffffff;
  --color-brand-black: #18181b;
  --color-brand-brown: #5c3923;
  --color-brand-beige: #bfa98a;
  --color-brand-blue: #2d62ff;
  --color-brand-pink: #dd23bb;
  --color-brand-green: #a5d25a;
  --color-brand-yellow: #f2b900;
  --color-brand-red: #7a4b3a;

  --color-brand-neutral: #666;
  --color-brand-neutral-light: #aaa;
  --color-brand-neutral-lighter: #ccc;
  --color-brand-neutral-lightest: #eee;
  --color-brand-neutral-dark: #444;
  --color-brand-neutral-darker: #222;
  --color-brand-neutral-darkest: #111;
  --color-brand-neutral-brown: #f3a5a5;
  --color-brand-neutral-blue: #d9e5ff;
  --color-brand-neutral-pink: #ffaefe;
  --color-brand-neutral-green: #a7c9c2;
  --color-brand-neutral-yellow: #d7d6b7;
  --color-brand-neutral-red: #3b0b0b;

  --background-primary: var(--color-brand-brown);
  --background-secondary: var(--color-brand-beige);
  --background-tertiary: var(--color-brand-red);
  --background-success: var(--color-brand-green);
  --background-warning: var(--color-brand-yellow);
  --background-alternate: var(--color-brand-white);
  --background-error: var(--color-brand-red);

  --text-primary: var(--color-brand-black);
  --text-secondary: var(--color-brand-neutral-darker);
  --text-warning: var(--color-brand-neutral-yellow);
  --text-success: var(--color-brand-neutral-green);
  --text-alternate: var(--color-brand-white);
  --text-error: var(--color-brand-neutral-red);

  --link-primary: var(--color-brand-neutral-brown);
  --link-secondary: var(--color-brand-black);
  --link-alternate: var(--color-brand-white);

  --border-primary: var(--color-brand-neutral-lightest);
  --border-secondary: var(--color-brand-blue);
  --border-alternate: var(--color-brand-neutral-darker);

  --line-height: 1.8;
  --padding: 5%;
  --space: 2rem;
  --font-size: 1.6rem;
}

html {
  font-size: 10px;
}

html,
body {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-smooth: antialiased;
  color: #01242d;
}
a {
  color: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  text-decoration: none;
}

#space {
  clear: both;
  width: 100%;
  height: var(--space);
}

.hide {
  display: none !important;
  visibility: hidden;
}

.clear {
  clear: both;
  width: 100%;
}

/* Mobile */
@media all and (min-width: 375px) {
  .hide-mobile {
    display: none !important;
    visibility: hidden;
  }
  #space {
    height: calc(var(--space) + 1rem);
  }
}

/* Tablet */
@media all and (min-width: 660px) {
  .hide-tablet {
    display: none !important;
    visibility: hidden;
  }
  .hide-mobile {
    display: block !important;
    visibility: visible;
  }
  #space {
    height: calc(var(--space) + 3rem);
  }
}
/* pc */
@media all and (min-width: 1025px) {
  .hide-tablet {
    display: block !important;
    visibility: visible;
  }
  .hide-pc {
    display: none !important;
    visibility: hidden;
  }
  #space {
    height: calc(var(--space) + 5rem);
  }
}
