/* Admin.css */

/* 기본적인 레이아웃 */
.admin-wrap {
  padding: 2rem;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h3 {
  font-size: 1.5rem;
  color: #333;
}

/* 주문 테이블 컨테이너 */
.order-table-container {
  overflow-x: auto;
  margin: 2rem 0;
}

/* 테이블 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* 테이블 내용 가운데 정렬 */
}

table th,
table td {
  padding: 12px;
  text-align: center; /* 셀 내용 가운데 정렬 */
  vertical-align: middle; /* 세로 가운데 정렬 */
  border: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table td {
  font-size: 1rem;
  color: #555;
}

/* 주문내역 */
table td:nth-child(3) {
  max-width: 300px;
  word-wrap: break-word;
  word-break: break-word;
}

/* 가격 형식 */
table td:nth-child(4) {
  color: #d9534f;
  font-weight: bold;
}

/* 주문 상태 */
table td:last-child {
  color: #5bc0de;
  font-weight: bold;
}

table td:first-child {
  color: #5bc0de;
  font-weight: bold;
}
