:root {
  --header-height: 6rem;
  --header-border-radius: 0 0 8px 8px;
  --header-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
    0 0 20px rgba(0, 0, 0, 0.2);
}

#header {
  width: 100%;
  max-width: 660px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  box-shadow: var(--header-box-shadow);
  z-index: calc(var(--z-index) + 10);
  border-radius: var(--header-border-radius);
  margin: 0 auto;
  padding: var(--padding);
}

#header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: -1;
  border-radius: var(--header-border-radius);
}
