:root {
  --padding: 5%;
}

#header {
  width: 100%;
  position: fixed;
  inset: 0% 0% auto;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: calc(var(--z-index) + 10);
}

.header-wrap {
  max-width: calc(100vw - var(--padding));
  margin: 0 auto;
}

/* pc */
@media all and (min-width: 1025px) {
  #header {
    position: relative;
  }
}
